#ig{
    width: 100px;
    border-radius: 37px;
    position: relative;
    top: 38px;
    left: 251px;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}